.top-row {
    height: 3.5em;
}

.navbar-brand {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2em;
}

.oi {
    width: 2em;
    font-size: 1.1em;
    vertical-align: text-top;
    top: -2px;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5em;
    margin: 0;
}

.nav-menu {
    -ms-flex-direction: column;
    flex-direction: column;
    flex-basis: 100%;
    margin: 0;
    align-items: flex-end;
}

.nav-item {
    font-size: 0.83em;
}

    .navbar-toggler, .nav-item ::deep a {
        height: 2.5em;
        display: flex;
        align-items: center;
        padding-left: 1em;
        padding-right: 1em;
        color: var(--light-blue);
        border-bottom: solid 0.15em var(--transparent);
    }

        .nav-item ::deep a.active, .navbar-toggler:hover, .nav-item ::deep a:hover {
            border-color: var(--main-blue);
            color: var(--main-blue);
        }

.nav-link .fa, .nav-link .fa-solid, .nav-link .fa-regular {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.navbar-toggler .fa {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 1200px) {
    .navbar-toggler {
        display: none;
    }

    .nav-menu {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        flex-basis: auto !important;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: flex !important;
    }
}


@media (max-width: 300px) {
    .nav-menu {
        align-items: flex-start;
    }

    .navbar-brand {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0;
    }
}
