@inject HttpClient Http
@inject IBlogService blogService

@if (posts?.Any() != true)
{
    <p><em>Loading blog posts...</em></p>
}
else
{
    <div class="content-list">
        @foreach (var post in posts)
        {
            <PostPreview Post=@post />
        }
    </div>
}

@code {
    private List<Post> posts = new();
    [Parameter]
    public int PostCount { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        var tmpPosts = await blogService.GetEntitiesAsync<Post>(PostCount);
        foreach(var post in tmpPosts)
        {
            await Task.Delay(100);
            posts.Add(post);
            StateHasChanged();
        }
    }
}
