@using System.Timers

<div id="presenter">
    <div id="presenter-intro">
        <h1>Hi, I'm Tristan!</h1>
        <h4>Creator of triggan</h4>
        <p>
            triggan is my company, my personal blog, some space to show my work. <br />
            Let's share the ride learning everyday, discovering new ideas and cool stuff to do! <br />
        </p>
    </div>
    <div id="portrait-container">
        <div id="portrait">
            <img alt="Tristan Robin" src="images/ProfilePicture-15092018.jpg" />
        </div>
        <div>
            <span class="small">and also</span>
            <span class="@beamState role">@roles[index]</span>
        </div>
    </div>
</div>

@code {
    private int index = 0;
    private string[] roles = { "Pastry lover", ".NET developer", "Team Leader", "In continuous improvment", "Loving dad and husband" };
    private string beamState = "beam";

    protected override async Task OnInitializedAsync()
    {
        await ChangeRole();
        await base.OnInitializedAsync();
    }

    public async Task ChangeRole()
    {
        await Task.Delay(2000);
        beamState = "";
        StateHasChanged();
        while (true)
        {
            await Task.Delay(4000);

            beamState = "beam";
            StateHasChanged();
            await Task.Delay(500);
            index = index == roles.Length - 1 ? 0 : index + 1;
            StateHasChanged();
            await Task.Delay(500);
            beamState = "";
            StateHasChanged();
        }
    }
}
