@inject HttpClient Http
@inject Task<ContentManager> contentManager

<button @onclick="Star" class="counter">
    <i class="fa fa-star"></i>
    @if (inError)
    {
        <span style="color: var(--danger)">!</span>
    }
    @if (IsCounter || Count != 0)
    {
        <span>@Count</span>
    }
</button>


@code
{
    [Parameter]
    public int Count { get; set; }
    [Parameter]
    public string Slug { get; set; }
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public bool IsCounter { get; set; } = true;
    private bool inError = false;
    private bool clicked;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        Count = IsCounter ? Count : 0;
    }

    [Parameter]
    public EventCallback<int> CountChanged { get; set; }

    private async Task Star()
    {
        if (clicked) return;
        clicked = true;
        Count += IsCounter ? 1 : 0;
        StateHasChanged();

        inError = !(await (await contentManager).StarEntity(Slug));
        StateHasChanged();
    }
}