.counter {
    margin: initial;
    font-size: small;
}

    .counter:focus {
        color: var(--light-blue);
        background-image: initial;
        background-color: initial;
        color: var(--main-blue);
        border: 3px solid var(--main-blue);
        background: 0 0;
    }

    .counter span {
        padding-right: 0.15em;
    }