@page "/blog"
@inject HttpClient Http

<h1>triggan blog</h1>

@if (posts?.Any() != true)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul class="content-list">
    @foreach (var post in posts)
    {
        <li>
            <PostPreview Post=@post />
        </li>
    }
    </ul>
}

@code {
    private List<Post> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<List<Post>>("Post");
    }

}
