@page "/"

<div>
    <SelfPresenter />

    <h3 style="text-align: center;">Last articles</h3>
    <PostList PostCount=3 />

    <h3 style="text-align: center;">Last projects updates</h3>
    <ProjectGrid ProjectCount=3 />

    <ContactForm />
</div>