@page "/now"

<div class="post">
    <h1>What I’m doing now</h1>

    <span class="small">
        (This is <a href="https://nownownow.com/about">a now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.)
    </span>

    <h3>Focusing on my personal life</h3>
    <p>
        With a full remote schadule for work, I've been able to be much more present for my familly lately.
        It's a tough period for us, but beign present helped us to some extent.
    </p>
    <p>
        Actually I learned quite a lot with this. Our time is precious.
        Whether you spend a lot of time or not with your child, fox example, you should spend it at 100%.
        Be fully with the person you are, this is quality time.
    </p>

    <h3>Looking for new opportunities</h3>
    <p>
        My role at Flowbird changed quite a lot since I joined!
        I learned quite a lot and I now think I'm ready to move on to new opportunities.
    </p>
    <p>
        I'm focusing on <strong>company culture</strong>.
        Since the lockdown in France I have been fully working remote.
        This is no news for me that it's a perfect fit and I want to be sure it's in the heart of the company I work with.

    </p>

    <h3>Focusing on core habits</h3>
    <p>
        It's been a while that my routines and habits are a bit down.
        I am currently focusing on rebuilding what I built in the past years.
    </p>
    <p>
        Will it be the return of LiReS? most probably for me.
    </p>

    <hr>
    <p>
        Updated September 20th, 2020, from France.
    </p>
</div>