@page "/now"

<div class="post">
    <h1>What I’m doing now</h1>

    <span class="small">
        (This is a <a href="https://nownownow.com/about">now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.)
    </span>

    <h3>Enjoying my time</h3>
    <p>
        I'm not that active lastly, I'm a bit more enjoying my time with familly without trying to balance as much as usual with more goal focused activities.
    </p>

    <h3>Change needed</h3>
    <p>
        As I'm starting to get more and more fed up by my current job, it clear that I need to go.
        I'm orienting my search for something more technical, like getting backl to being a software engineer.
    </p>

    <h3>Developping Last Week app</h3>
    <p>
        Kindof a review of LiReS Core, a weekly review app base on <a href="http://ryanhildebrandt.com/weekly-review">Ryan Hildebrandt's habit</a>. <br />
        I've been thinking about this for a while as back when I used to do this, it really helped me in a ton of way. <br />
        The past year changed a lot, so the application needs a complete makeover. <br />
        <br />
        Also, I was initially planning to take my time and use some experimental tech from .NET 6 preview, but I got to work on this app way more to show it for interviews!
    </p>

    <h3>Corrolary</h3>
    <p>
        Still struggling with some habits, but linking Last Week to existing APIs could be interesting to help review them! <br />
    </p>

    <hr>
    <p>
        Updated May 10th, 2021, from France.
    </p>
</div>