@page "/now"

<div class="post">
    <h1>What I’m doing now</h1>

    <span class="small">
        (This is a <a href="https://nownownow.com/about">now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.)
    </span>

    <h3>Focusing on my personal life</h3>
    <p>
        Next year my son should join school according to the country's rule. But it's planed for him to do homeschooling!
        His mother and I are quite excited about this and we actually started to get ahead (shh).
    </p>
    <p>
        Although this period is stretching quite a lot with some downside, I am grateful.
        This situation and further possibilities are on the plate only due to the year we've spent altogether.
    </p>
    <p>
        What do we know? The next step might be to go to germany for Lyme disease treatment!
        But until then, let's just feel good in any way we can!
    </p>

    <h3>Focusing on core habits</h3>
    <p>
        It's been a while that my routines and habits are a bit down.
        I am currently focusing on rebuilding what I built in the past years.
    </p>
    <p>
        Will it be the return of LiReS? most probably for me.
    </p>
    <p>
        I am also looking for a way to make my schedule more resilient. <br />
        It was quite nice for me when I was able to plan precisely the time of the day for any activity. But it not the case anymore. <br />
        Deal with it. It's hard to be focused, and any window of opportunity should be taken because you don't really know when you'll be able to work next.
    </p>

    <h3>Any projects?</h3>
    <p>
        Related to the above point, I've found myself in trouble to plan my projects. <br />
        I mean, comme on, still not a single video published for Little chef Logan?
    </p>
    <p>
        I'm currently in trouble finding faith nto yearlong projects, and thus I think about makinig more short term projects.
        Let's see what it can do, shall we?
    </p>

    <hr>
    <p>
        Updated March 1st, 2021, from France.
    </p>
</div>