@page "/now"

<div class="post">
    <h1>What I’m doing now</h1>

    <span class="small">
        (This is a <a href="https://nownownow.com/about">now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.)
    </span>

    <h3>Getting back to practicing the guitar</h3>
    <p>
		YAY. Just awesome feeling there.<br/>
		Also it seems to be helping me (slowly) to get back to better daily schedule (I know, what's a schedule when you have a child? But anyway).
    </p>

    <h3>Looking for a job</h3>
    <p>
        I am still looking for a new position. Currently ongoing some recruitment processes.<br/>
		I am still unsure about my future except from the fact I don't want to stay on my current path.<br/>
		<br/>
		with this process, I'm currently learning more about Azure with AZ-900 and AZ-204 learning paths. Hope it will pay out.
    </p>

    <h3>Current books</h3>
    <p>
		I'm currently rereading <a href="https://www.amazon.com/4-Hour-Workweek-Expanded-Updated-Cutting-Edge-ebook/dp/B002WE46UW">The 4 Hour Work Week</a> from Tim Ferriss. It's a really important book for me that opened my mind to new ways of thinking. Yet I think I'm still not using it as much as I could/should.<br/>
		I'm also reading <a href="https://www.amazon.com/80-Principle-Achieving-anniversary-productivity-ebook/dp/B01HPVH7HA">The 80/20 principle</a> from Richard Koch. It's tightly coupled with the one above!<br/>
		Fiction wise I've just finished <a href="https://www.amazon.com/Dieux-verts-Ludovic-Robin/dp/2953944796">Green Gods</a>, a french science fiction book from  Nathalie Henneberg. A really strange writing in my opinion, but pretty nice and refreshing. And the artworks are from my brother! Check out more of his work <a href="https://www.instagram.com/ludovicrobinartworks">here</a>!<br/>
		Next step, I'm planning tio read <a href="https://www.amazon.com/American-Turtleback-School-Library-Binding/dp/0606396594">American Gods</a> from Neil Gaiman. really excited about this one.<br/>
    </p>

    <hr>
    <p>
        Updated Jully 1rst, 2021, from France.
    </p>
</div>