@page "/now"

<div class="post">
    <h1>What I’m doing now</h1>

    <span class="small">
        (This is a <a href="https://nownownow.com/about">now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.)
    </span>

    <h3>Getting back to practicing the guitar</h3>
    <p>
		YAY. Just awesome feeling there.<br/>
		I'm about to be ready with For My Father from Andy McKee, what a beutiful pieave.
    </p>

    <h3>We bought a house!</h3>
    <p>
		It has been a while since me and my wife wanted to buy our own home.<br/>
        The legal stuff still need to be done, but we should be able to buy it.<br />
        It is a very nice house needing quite a lot of work to renovate it but in the end it will be awesome! Can't wait for it, work will start around october!
    </p>

    <h3>Joined Toptal!</h3>
    <p>
        I've been looking at new opportunities for quite a while now. <br />
        Recently I found Toptal. To put it shortly, it is a freelancer network. Their goal is to bring the best talents possible to companies looking for contractors. <br />
        If you want to check out, you can follow this <a href="https://www.toptal.com/N43yY5/worlds-top-talent">referral link</a>.
    </p>

    <h3>Current books</h3>
    <p>
		I'm currently rereading <a href="https://www.amazon.com/4-Hour-Workweek-Expanded-Updated-Cutting-Edge-ebook/dp/B002WE46UW">The 4 Hour Work Week</a> from Tim Ferriss. It's a really important book for me that opened my mind to new ways of thinking. Yet I think I'm still not using it as much as I could/should.<br/>
		I'm also reading <a href="https://www.amazon.com/80-Principle-Achieving-anniversary-productivity-ebook/dp/B01HPVH7HA">The 80/20 principle</a> from Richard Koch. It's tightly coupled with the one above!<br/>
		Trying to start <a href="https://www.amazon.com/American-Turtleback-School-Library-Binding/dp/0606396594">American Gods</a> from Neil Gaiman. I'm r'eally excited about this one butthis days I stop working way too late!<br/>
    </p>

    <hr>
    <p>
        Updated August 2nd, 2021, from France.
    </p>
</div>