@page "/test"
@inject HttpClient Http

<h1>Testing page</h1>

@if (string.IsNullOrEmpty(TestValue))
{
    <p><em>Loading values...</em></p>
}
else
{
    <h3>Test:</h3>
    <span>@TestValue</span>
}
@if (string.IsNullOrEmpty(Config))
{
    <p><em>Loading values...</em></p>
}
else
{
    <h3>Config:</h3>
    <span>@Config</span>
}

@code {
    public string TestValue { get; set; }
    public string Config { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TestValue = await Http.GetStringAsync($"Test/Get");
        Config = await Http.GetStringAsync($"Test/GetConfig");
    }

}
