@page "/work"

<div>
    <SelfPresenter />
    <p>
        What can I do for You?<br />
        => Do you have a
    </p>
    <ul>
        <li>project Idea</li>
        <li>need</li>
        <li>an app you would like to create</li>
        <li>cash</li>
        <li>an open position I would be the best for</li>
        <li>some needs you would like to discuss</li>
        <li>cookies</li>
    </ul>
    <p>
        Then <AnchorLink href="#contactme">contact me</AnchorLink> to discuss our possibilities!
    </p>
</div>