@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --dark-blue: #002040;
    --mate-blue: #004E9C;
    --main-blue: #0080FF;
    --light-blue: #33D7FF;
    --accent-light-blue: #ABCDFF;
    --gray-blue: #334E6B;
    --red: #FF2819;
    --light-green: #E7FF19;
    --olive-green: #A1B309;
    --white: #DDDDDD;
    --gray: #646464;
    --dark-gray: #353535;
    --dark: #343a40;
    --transparent: #00000000;
}

@font-face {
    font-family: "Akshar";
    src: url('../fonts/Akshar/Akshar-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Comfortaa";
    src: url('../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

html, body {
    font-family: Comfortaa, Akshar, sans-serif;
    font-size: 1.2em;
    background-color: var(--gray-blue);
    color: var(--light-blue);
    margin: 0;
}

a, .btn-link {
    color: var(--light-green);
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0.5em 0;
}

h1, h2, h3, h4 {
    color: var(--accent-light-blue);
}

.a:hover {
    color: var(--white);
}

.btn-primary {
    color: var(--light-blue);
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

.content {
    padding-top: 1.1em;
}

.small {
    font-size: small;
}

.valid.modified:not([type=checkbox]) {
    border: 0.05em solid var(--light-green);
}

.invalid {
    border: 0.05em solid var(--red);
}

.validation-errors {
    flex-direction: column;
    background: var(--dark-blue);
    padding: 0.5em;
}

.validation-message {
    color: var(--red);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -0.1em 0.25em rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6em 1.25em 0.7em 1.25em;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75em;
        top: 0.5em;
    }

nav ul, footer ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.collapse:not(.show) {
    display: none;
}

.quote {
    position: relative;
    padding: .75em 1.25em;
    margin-bottom: 1em;
    border: 0.1em solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25em;
    color: var(--dark-blue);
    background-color: var(--gray);
    border-color: var(--main-blue);
}

.tile {
    border-left: solid 0.25em var(--main-blue);
    padding: 1em;
    margin: 0.5em 0;
    background-color: var(--dark-blue);
}

    .tile h1, .tile h2, .tile h3 {
        color: var(--main-blue);
    }

.post {
    background-color: var(--dark-blue);
    padding: 1em;
    margin: 0.5em 0;
    color: var(--light-blue);
}

    .post:not(.tile) {
        box-shadow: 0em 0em 0.5em var(--light-blue);
    }

    .post.tile:hover {
        box-shadow: 0em 0em 0.5em var(--light-blue);
    }

    .post.tile h3 {
        transition: all 0.5s;
    }

    .post.tile:hover h3 {
        padding-left: 2em;
    }

        .post h1, .tile h2, .tile h3, .post h1, .post h2, .post h3 {
            color: var(--main-blue);
        }

.tag {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.content-list {
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}

form {
    margin: 1em auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

    .form-group div {
        width: 100%;
    }

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

form input, form textarea, form select {
    width: calc(100% - 1em);
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border: none;
    resize: none;
    padding: 0.5em;
    font-size: 1.1em;
}

select {
    box-sizing: unset;
}

form .row div {
    flex-shrink: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form label {
    width: calc(100% - 1em);
    padding: 0.5em;
    color: var(--accent-light-blue);
}

form i {
    padding-right: 0.5em;
}

form .row label, form .row input, form .row textarea {
}

button {
    text-transform: capitalize;
    font-weight: bold;
    margin: 1em auto;
    outline: 0;
    border-radius: 2em;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0.5em;
    transition: all .3s ease-in-out;
    background: var(--dark-blue);
    border: 0.25em solid var(--dark-blue);
    color: var(--light-blue);
}

    button:hover {
        color: var(--dark-blue);
        background: var(--accent-light-blue);
    }

.post h3 {
    cursor: pointer;
}

img {
    width: 100%;
}

.scale-on-hover:hover {
    transform: scale(1.05);
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#skillGrid {
    justify-content: space-between;
}

.card {
    max-width: calc(33% - 3em);
    margin: 0.5em;
    padding: 1em;
    border: none;
    cursor: pointer;
    color: var(--light-blue);
}

    .card:hover {
        box-shadow: 0em 0em 0.5em var(--light-blue);
    }

        .card:hover img {
            transform: scale(1.05);
        }

.hidden {
    visibility: hidden;
}

.appear-grow {
    animation: AppearGrow 0.25s ease-in;
}

.appear-slide {
    animation: 0.5s ease-in;
}

.neon-title {
    display: flex;
    align-items: center;
}

    .neon-title h1 {
        color: var(--white);
        text-shadow: 0 0 0.25em var(--light-blue), 0 0 0.5em var(--light-blue), 0 0 0.75em var(--light-blue);
    }

    .neon-title hr {
        width: 20%;
        margin: 0 1em;
        height: 0.15em;
        border: none;
        background: var(--white);
        box-shadow: 0 0 0.25em var(--light-blue), 0 0 0.5em var(--light-blue), 0 0 0.75em var(--light-blue);
        border-radius: 1em;
    }

@keyframes AppearGrow {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes SlideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes SlideFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


.skill-tile {
    color: var(--accent-light-blue);
    margin: 0.25em;
    width: calc(33% - 1.2em);
    max-width: calc(33% - 1.2em);
    border: var(--accent-light-blue) 0.1em solid;
    box-shadow: 0 0 0.5em var(--dark-blue);
    padding: 0.25em;
}

    .skill-tile * {
        margin: auto 0;
    }

    .skill-tile i {
        color: var(--accent-light-blue);
    }

    .skill-tile:hover {
        box-shadow: none;
        cursor: default; 
    }

@media (max-width: 1000px) {
    .card {
        max-width: calc(50% - 3em);
    }

    .skill-tile {
        width: calc(50% - 1.2em);
        max-width: calc(50% - 1.2em);
    }
}

@media (max-width: 767.98px) {
    .row {
        flex-direction: column !important;
    }

    .card {
        max-width: calc(100% - 3em);
    }
}

@media (max-width: 680px) {
    .skill-tile {
        width: calc(100% - 1.2em);
        max-width: calc(100% - 1.2em);
    }
}

@media (max-width: 580px) {
    .form-group > .row > div {
        flex-direction: column;
        width: 100%;
    }
}

#blazor-error-ui {
    width: auto !important;
}