@font-face {
    font-family: "triggan icon";
    src: url('../fonts/triggan-icons.ttf') format('truetype');
}

.fa-triggan {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-family: "triggan icon";
}

.fa-visual-studio:before {
    content: "\1";
}

.fa, .fas, .far, .fab, .fa-solid, .fa-regular, .fa-brands, .fa-triggan {
    margin: 0.5em;
}

select + i.fa, select + i.fas {
    float: right;
    margin-top: -26px;
    margin-right: 10px;
    pointer-events: none;
    padding-right: 5px;
}