@page "/books"
@inject AuthenticationStateProvider authStateProvider
@inject IBlogService blogService

<h1>The books I've read</h1>
<p>
    Books are powerful. I wanted to start sharing my thoughts on the books I've read here but it will take time, come back often to check the list!
</p>

@if (books?.Any() != true)
{
    <p><em>Loading books...</em></p>
}
else
{
    <div class="content-list">
        @if (isAuthenticated)
        {
            <a href="/book/edit">
                <span class="@("fas fa-plus")"></span>
            </a>
        }
        @foreach (var book in books)
        {
            <BookSummary Book=@book />
        }
    </div>
}

@code {
    private List<Book> books = new();
    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = (await authStateProvider.GetAuthenticationStateAsync()).User?.Identity?.IsAuthenticated ?? false;
        await Task.Delay(100);
        var tmpBooks = await blogService.GetEntitiesAsync<Book>();
        foreach(var book in tmpBooks)
        {
            await Task.Delay(100);
            books.Add(book);
            StateHasChanged();
        }
    }
}
