@page "/download"
@inject IBlazorDownloadFileService Downloader

<button @onclick=@(async () => await Test())>Dowload</button>

@code {
    public async Task Test()
    {
        await Downloader.DownloadFileFromText("tomato.json", "Texty text", "text/plain");
    }
}
