@page "/now"

<div class="post">
    <h1>What I’m doing now</h1>

    <span class="small">
        (This is a <a href="https://nownownow.com/about">now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.)
    </span>

    <h3>Building triggan</h3>
    <p>
        I've gotten back to maintain this website.<br />
        I'm first updating everything and then will add new content on regular basis.<br />
        triggan is now my business and I want to use it to build anything that might come to mind.
    </p>

    <h3>House renovation</h3>
    <p>
        Though lot of what is planned is still blocked, I'm getting back to renovating my house!<br />
        We had to waita few months due to a big hand injury and some vacations so it's time to do some hard work.
    </p>

    <h3>Fulltime Job!?</h3>
    <p>
        I've started a freelance carreer last December... and it's over for now!<br />
        I planned to keep that for quite a long time but got engaged at Median Technologies!<br />
        <br />
        I think most of us are looking to feel useful to the world, and honestly, working on cancer related software is pretty big for me.<br />
        I'm quite exciting by this and hope it will embed as good as I hope!<br />
        <br />
        I still wanna keep my freelancer status to be able to take on some smaller projects from time to time, will they be mine or not.<br />
        <br />
        <small>And by the way, you can still use my <a href="https://www.toptal.com/N43yY5/worlds-top-talent">Toptal referral link</a>.</small>
    </p>

    <h3>Current books</h3>
    <p>
        I am currently reading <a href="https://www.amazon.com/Thinking-Fast-Slow-Daniel-Kahneman/dp/0374533555">Thinking Fast and Slow</a>, by Dabuek Kahnewan. don't really know what to think about it for now.
        I've also recently taken a few different books from what I usually read:
        <ul>
            <li><a href=https://www.amazon.fr/Test-Driven-Development-Kent-Beck/dp/0321146530>TDD by the example</a>, from Kent Beck, a tech book to help me progress</li>
            <li><a href="https://www.amazon.fr/Old-Man-Sea-Ernest-Hemingway/dp/0099908409">The Old Man and the Sea</a>, to get a first taste of Hemingway</li>
            <li><a href="https://www.amazon.com/Summerhill-Radical-Approach-Child-Rearing/dp/B000BKJDMK">Summerhill [...]</a> from A.S. Neil. I can't wait to tart this one, on my list for quite a long time!</li>
        </ul>

        We'll see where all this goes, and how much I'll be reading!
    </p>

    <hr>
    <p>
        Updated June 14th, 2022, from France.
    </p>
</div>