@page "/now"

<div class="post">
    <h1>What I’m doing now</h1>

    <span class="small">
        (This is a <a href="https://nownownow.com/about">now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.)
    </span>

    <h3>Building triggan</h3>
    <p>
        I've gotten back to maintain this website.<br />
        I'm first updating everything and then will add new content on regular basis.<br />
        triggan is now my business and I want to use it to build anything that might come to mind.
    </p>

    <h3>Planning holidays</h3>
    <p>
        Last years have been hard for many.<br />
        I've been highly restrained in my moves to stay safe and protect my family.<br />
        Now we start to plan a few trips and I'm highly excited about it.<br />
    </p>

    <h3>Freelancer</h3>
    <p>
        Since last December I'm a full-time freelancer!<br />
        My first experience might not have been easy everyday but I'm proud of the end result.<br />
        I'm currently mostly working with clients I find through Toptal, and if you want to check out, you can follow this <a href="https://www.toptal.com/N43yY5/worlds-top-talent">referral link</a>.
    </p>

    <h3>Current books</h3>
    <p>
		I'm currently rereading <a href="https://www.amazon.com/4-Hour-Workweek-Expanded-Updated-Cutting-Edge-ebook/dp/B002WE46UW">The 4 Hour Work Week</a> from Tim Ferriss. It's a really important book for me that opened my mind to new ways of thinking. Yet I think I'm still not using it as much as I could/should.<br/>
        As I am starting to think of triggan as an actual, real business, I've picked up <a href="https://www.amazon.com/Zero-One-Paperback-Peter-Thiel/dp/B00W0TK2R0/">Zero To One</a> again. Pieter Thiel is a beast and his views on the world have a huge value to reflect and execute upon.<br />
        And as most often, I also read some fiction. These days Ive decided to read the <a href="https://www.amazon.com/Harry-Potter-Sorcerers-Stone-Rowling/dp/059035342X">Harry Potter Series</a>. I've never read the first ones, and it's been a long time I've read the other, so I want to get a refresh!
    </p>

    <hr>
    <p>
        Updated April 19th, 2022, from France.
    </p>
</div>