<nav class="navbar">
	<a class="navbar-brand" href="#">triggan</a>
	<div class="navbar-toggler nav-link" @onclick="ToggleNavMenu">
	    <Icon Name="@("fa-bars")" />
	</div>
    <ul class="nav nav-menu @NavMenuCssClass">
        <li class="nav-item">
            <NavLink class="nav-link" href="blog" Match="NavLinkMatch.All">
                <span class="oi oi-copywriting" aria-hidden="true"></span> Blog
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-project" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="work">
                <span class="oi oi-people" aria-hidden="true"></span> Work together
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="now">
                <span class="oi oi-pulse" aria-hidden="true"></span> Now
            </NavLink>
        </li>
    </ul>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
