<nav class="navbar">
	<a class="navbar-brand" href="#"><img src="logo.png" alt="triggan" style="max-height: 2em; width: auto;"></a>
    <div class="navbar-toggler nav-link" @onclick="ToggleNavMenu">
        <span class="fa fa-bars"></span>
    </div>
    <ul class="nav nav-menu @NavMenuCssClass">
        <li class="nav-item">
            <NavLink class="nav-link" href="blog" Match="NavLinkMatch.All">
                <span class="fa fa-align-left" aria-hidden="true"></span> Blog
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="projects">
                <span class="fa fa-rocket" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="work">
                <span class="fa fa-users" aria-hidden="true"></span> Work together
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="now">
                <span class="fa fa-plus" aria-hidden="true"></span> Now
            </NavLink>
        </li>
    </ul>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
