@inject NavigationManager NavigationManager

<div class="post tile">
    <h3 @onclick=@Read>@Post.Title</h3>
    <p>
        <span class="small">
            @if (Post.Tags != null)
            {
                foreach (var tag in Post.Tags)
                {
                    <a class="tag" href="/tag/@tag">@tag</a>
                }
            }
        </span>
        <br />
        <span class="text-nowrap">
            @if(Post.Excerpt != null)
            {
                @((MarkupString)Markdig.Markdown.ToHtml(Post.Excerpt))
            }
        </span>
    </p>
</div>

@code {
    [Parameter]
    public Post Post { get; set; }

    public void Read()
    {
        NavigationManager.NavigateTo($"/blog/{Post.Slug}");
    }
}
