<div class="post tile">
    <h3>@Post.Title</h3>
    <p>
        <span class="small">
            @foreach(var tag in Post.Tags)
            {
                <a class="tag" href="/tag/@tag" >@tag</a>
            }
        </span>
        <br />
        <span class="text-nowrap">
            @Post.Excerpt
        </span>
    </p>
</div>

@code {
    [Parameter]
    public Post Post { get; set; }
}
