@inject NavigationManager NavigationManager

<div class="post tile card" @onclick=@Read>
    <h3>@Project.Title</h3>
    <div class="">
        <img src="@Project.CoverImagePath" alt="Card Image">
        <div>
            <p>
                @((MarkupString)Markdig.Markdown.ToHtml(Project.Excerpt))
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Project Project { get; set; }

    public void Read()
    {
        NavigationManager.NavigateTo($"/project/{Project.Slug}");
    }
}
