@inject NavigationManager NavigationManager

<div class="tile card" @onclick=@Read>
    <h3>@Project.Title</h3>
    <span class="small">@Project.State</span>
    <div class="">
        <img src="@Project.CoverImagePath" alt="Card Image">
        <div>
            <p>
                @if(Project.Excerpt != null)
                {
                    @((MarkupString)Markdig.Markdown.ToHtml(Project.Excerpt))
                }
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Project Project { get; set; }

    public void Read()
    {
        NavigationManager.NavigateTo($"/project/{Project.Slug}");
    }
}
