@inject NavigationManager NavigationManager

<div class="tile card" @onclick=@Read>
    <h3>@Project.Title</h3>
    <span class="small">>@StateToString(Project.State)</span>
    <div class="">
        @if (!string.IsNullOrEmpty(Project.CoverImagePath))
        {
            <img class="" src="@Project.CoverImagePath" alt="Project banner">
        }
        <div>
            <p>
                @if (Project.Excerpt != null)
                {
                    @((MarkupString)Markdig.Markdown.ToHtml(Project.Excerpt))
                }
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Project Project { get; set; }

    public void Read()
    {
        NavigationManager.NavigateTo($"/project/{Project.Slug}");
    }

    private string StateToString(Model.Enums.ProjectState state)
    {
        return state.ToString().Replace("_", " ");
    }
}
